plant-factory/flow-ver-1.json
[
    {
        "id": "cfcdfcd00a89b26c",
        "type": "group",
        "z": "6032e6f7ed3e91ca",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "4b34b2ae3f73954f",
            "c014421d37c46f85",
            "5ef11c08d57bc77c",
            "f598634b1e758e32",
            "b1b62c4f2f31168f",
            "adb3801c63bb8526",
            "7c85862137f3163e",
            "da031f87e8c62d05",
            "a76303d77f7fcebb",
            "5cc17cbd842f4a21",
            "075a0c061ddbe80c",
            "6f2ab48304ad5ebe",
            "068cc28820c939fa",
            "808717c667acae71",
            "63d53fe750e79bb6"
        ],
        "x": 14,
        "y": 39,
        "w": 672,
        "h": 322
    },
    {
        "id": "4b34b2ae3f73954f",
        "type": "mqtt in",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "pf",
        "topic": "esp32/node-pf",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "9330e5236719afb2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "5ef11c08d57bc77c",
                "f598634b1e758e32",
                "b1b62c4f2f31168f",
                "5cc17cbd842f4a21",
                "63d53fe750e79bb6"
            ]
        ]
    },
    {
        "id": "c014421d37c46f85",
        "type": "ui_gauge",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "",
        "group": "c4daf48e041b34a3",
        "order": 1,
        "width": 5,
        "height": 6,
        "gtype": "donut",
        "title": "Air Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "20",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 80,
        "wires": []
    },
    {
        "id": "5ef11c08d57bc77c",
        "type": "function",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "Air Temp",
        "func": "msg.payload = msg.payload.temperature_dht;\nmsg.topic=\"Air Temperature (C)\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "c014421d37c46f85",
                "da031f87e8c62d05"
            ]
        ]
    },
    {
        "id": "f598634b1e758e32",
        "type": "function",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "Hum",
        "func": "msg.payload = msg.payload.humidity;\nmsg.topic = \"Humidity (%)\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 200,
        "wires": [
            [
                "adb3801c63bb8526",
                "6f2ab48304ad5ebe"
            ]
        ]
    },
    {
        "id": "b1b62c4f2f31168f",
        "type": "function",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "Lux",
        "func": "msg.payload = msg.payload.lux;\nmsg.topic = \"Lux\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 260,
        "wires": [
            [
                "7c85862137f3163e",
                "a76303d77f7fcebb"
            ]
        ]
    },
    {
        "id": "adb3801c63bb8526",
        "type": "ui_gauge",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "",
        "group": "c4daf48e041b34a3",
        "order": 5,
        "width": 5,
        "height": 6,
        "gtype": "donut",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "7c85862137f3163e",
        "type": "ui_gauge",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "",
        "group": "c4daf48e041b34a3",
        "order": 6,
        "width": 5,
        "height": 6,
        "gtype": "donut",
        "title": "Light Intensity",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 460,
        "y": 260,
        "wires": []
    },
    {
        "id": "da031f87e8c62d05",
        "type": "ui_chart",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "temp",
        "group": "d37d95038ea957a8",
        "order": 1,
        "width": 23,
        "height": 8,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#dd6e0c",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a76303d77f7fcebb",
        "type": "ui_chart",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "lux",
        "group": "d37d95038ea957a8",
        "order": 3,
        "width": 11,
        "height": 6,
        "label": "",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "5000",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#d52728",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#6b11c0",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5cc17cbd842f4a21",
        "type": "function",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "Water Temp",
        "func": "msg.payload = msg.payload.temperature_ds18b20;\nmsg.topic=\"Water Temperature (C)\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 140,
        "wires": [
            [
                "075a0c061ddbe80c",
                "da031f87e8c62d05"
            ]
        ]
    },
    {
        "id": "075a0c061ddbe80c",
        "type": "ui_gauge",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "",
        "group": "c4daf48e041b34a3",
        "order": 2,
        "width": 5,
        "height": 6,
        "gtype": "donut",
        "title": "Water Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "20",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 140,
        "wires": []
    },
    {
        "id": "6f2ab48304ad5ebe",
        "type": "ui_chart",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "hum",
        "group": "d37d95038ea957a8",
        "order": 2,
        "width": 12,
        "height": 6,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "cubic",
        "nodata": "",
        "dot": true,
        "ymin": "50",
        "ymax": "100",
        "removeOlder": "5",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#27d33b",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "068cc28820c939fa",
        "type": "function",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "format",
        "func": "let t_udara = msg.payload.temperature;\nlet rh_udara = msg.payload.humidity;\nlet cahaya = msg.payload.lux;\n\nmsg.headers = {\n    'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nmsg.payload = `t_udara=${t_udara}&rh_udara=${rh_udara}&cahaya=${cahaya}`;\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 320,
        "wires": [
            [
                "808717c667acae71"
            ]
        ]
    },
    {
        "id": "808717c667acae71",
        "type": "http request",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "mySQL",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://digitalfarming.my.id/ds_atp/_db/api_sensor_gh_nursery.php",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "63d53fe750e79bb6",
        "type": "function",
        "z": "6032e6f7ed3e91ca",
        "g": "cfcdfcd00a89b26c",
        "name": "buffer",
        "func": "// Initialize the context storage if it doesn't exist\nlet tempArray = context.get('tempArray') || [];\nlet humArray = context.get('humArray') || [];\nlet luxArray = context.get('luxArray') || [];\nlet startTime = context.get('startTime') || Date.now();\n\n// Push current data\ntempArray.push(msg.payload.temperature);\nhumArray.push(msg.payload.humidity);\nluxArray.push(msg.payload.lux);\n\n// Save back to context\ncontext.set('tempArray', tempArray);\ncontext.set('humArray', humArray);\ncontext.set('luxArray', luxArray);\ncontext.set('startTime', startTime);\n\n// Check if 10 minutes have passed\nif (Date.now() - startTime >= 1 * 60 * 1000) {\n    const avg = arr => arr.reduce((sum, val) => sum + val, 0) / arr.length;\n\n    let avgTemp = avg(tempArray).toFixed(2);\n    let avgHum = avg(humArray).toFixed(2);\n    let avgLux = avg(luxArray).toFixed(2);\n\n    // Reset arrays and timer\n    context.set('tempArray', []);\n    context.set('humArray', []);\n    context.set('luxArray', []);\n    context.set('startTime', Date.now());\n\n    // Send average to next node\n    msg.payload = {\n        temperature: avgTemp,\n        humidity: avgHum,\n        lux: avgLux\n    };\n    return msg;\n}\n\n// If 10 minutes not yet passed, stop the flow\nreturn null;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 320,
        "wires": [
            [
                "068cc28820c939fa"
            ]
        ]
    },
    {
        "id": "9330e5236719afb2",
        "type": "mqtt-broker",
        "name": "1882",
        "broker": "103.127.133.9",
        "port": "1882",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c4daf48e041b34a3",
        "type": "ui_group",
        "name": "Real-time Data",
        "tab": "fb258e99fdf91fec",
        "order": 1,
        "disp": false,
        "width": 10,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d37d95038ea957a8",
        "type": "ui_group",
        "name": "Data Log",
        "tab": "fb258e99fdf91fec",
        "order": 2,
        "disp": false,
        "width": 23,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb258e99fdf91fec",
        "type": "ui_tab",
        "name": "Node Plant Factory",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
